.booking-details{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px,
        rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.booking-details p{
    margin-bottom: 0px;
}
.booking-date, .booking-time{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
@media only screen and (min-width: 320px) and (max-width:992px) {
    .booking-details{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
    }
}